.note-header{
  position: fixed;
  background-color: #9849f2;
  left: 0;
  right: 0;
  top: 0;
  h1{
    margin: 5px;
    font-size: 20px;
  }

  i{
    color: #fcf8f7;
    position: absolute;
    right: 10px;
  }
}
